@import url("fonts.css");
@import url("reset.css");

body {
   font-family: "Inter", sans-serif;
   font-size: 18px;
   color: #37393F;
}

.header,
.section,
.footer {
   margin: 0 auto;
   padding: 0 15px;
   margin-bottom: 50px;
}

/*======================HEADER========================*/

.header {
   padding-top: 15px;
}

.header__title {
   color: #37393F;
   font-family: "Poppins", sans-serif;
   font-size: 25px;
   font-weight: 700;
   line-height: normal;
   text-align: center;
}


.collor {
   color: #6B77E5;
}


/*=============MAIN: SECTION LICENCING===================*/

.header,
.section-licencing {
   max-width: 1248px;
}


.licencing__infobox {
   margin: 0 0 70px;
   text-align: center;
}

.licencing__infobox-square {
   display: inline-block;
   width: 12px;
   height: 12px;
   background-color: #40DDB6;
}

.licencing__infobox-subtitle {
   display: inline-block;
   font-weight: 500;
   line-height: normal;
   margin: 0 0 16px;
}

.licencing__title,
.licencing__subtitle {
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   line-height: 1.21;
}

.licencing__title {
   text-align: center;
   font-size: 60px;
}

.licencing__subtitle {
   font-size: 40px;
   margin: 0 0 11px;
}

.licencing-box {
margin: 0 0 100px;
}

.licencing-photography-box {
   margin: 0 0 24px;
}

.licencing-photography-box:last-child {
   margin: 0;
}

.licencing__text {
   color: #7D7D7D;
   line-height: 1.46;
}

.licencing__text-icon {
   margin: 0 0 32px;
}


.license_one,
.license_two,
.licencing__info {
   font-family: "Poppins", sans-serif;
   font-size: 30px;
   line-height: normal;
}

.license_one {
   padding-right: 15px;
   font-weight: 700;
}

.license_two {
   color: #40DDB6;
}


.licencing__info {
   margin: 0 0 10px;
}


.licencing__box-link,
.licencing__link {
   color: #40DDB6;
   line-height: 1.46;
}


.licencing__link {
   font-weight: 500;
}

/*=============MAIN: SECTION PROJECT===================*/

.section-project {
   max-width: 860px;
}

.project__title {
   font-family: "Poppins", sans-serif;
   font-size: 40px;
   color: #37393F;
   font-weight: 700;
   line-height: 1.27;
   margin: 0 0 13px;
}

.project__text,
.project__text p,
.project__item {
   color: #7D7D7D;
   line-height: 1.46;
   margin: 0 0 35px;
}

.project__list {
   padding-left: 65px;
}

.ul-list li{
   list-style-type: disc;
   padding-left: 5px;

}

.ol-list li{
   list-style: decimal-leading-zero;
   padding-left: 5px;
}
   
/*=============MAIN: SECTION CLOTHES===================*/

.section-clothes {
   color: #807D7E;
   font-family: "Causten", sans-serif;
   font-size: 20px;
   max-width: 1285px;
}

.clothes__box-1 {
   margin-bottom: 30px;
}

.clothes__box-2 {
   margin-bottom: 25px;
}

.clothes__box-3 {
   margin-bottom: 20px;
}

.clothes__rectangle {
   display: inline-block;
   width: 6px;
   height: 28px;
   border-radius: 10px;
   background: #8A33FD;
   margin-right: 15px;
   margin-left: -25px;
   margin-bottom: -5px;
}

.clothes__title {
   display: inline-block;
   color: #3C4242;
   font-family: "Core Sans C", sans-serif;
   font-size: 28px;
   font-style: normal;
   font-weight: 600;
   line-height: 1.68;
   letter-spacing: 0.56px;

}


.clothes__subtitle,
.clothes__text,
.euphoria {
   line-height: 1.68;
   letter-spacing: 0.4px;
}

.clothes__subtitle {
   font-family: "Core Sans C", sans-serif;
   font-weight: 600;
   margin-bottom: 25px;
}

.euphoria {
   font-weight: 700;
}

/*=============MAIN: SECTION JEWELLERY==================*/

.section-jewellery {
   font-family: "Cormorant Infant", serif;
   max-width: 1138px;
   font-weight: 700;
}

.jewellery__subtitle {
   color: #D58417;
   font-size: 20px;

}

.jewellery__title {
   max-width: 503px;
   color: #000;
   font-size: 64px;
}

.jewellery__text {
   max-width: 489px;
   color: #606060;
   font-size: 30px;
   line-height: 1.4;
}
.jewellery__box {
   display: inline-block;
}

.j-box {

}

.jewellery__image {
}