
@import url("reset.css");
@import url("common.css");

body{
  font-family: 'Poppins';
  font-size: 12px;
  color: rgba(73, 80, 87, 1);
}

.wrapper{
  min-height: 100%;
  overflow: hidden;
  padding: 50px 0;
}

[class*=__container]{
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.galery__menu {
  margin-bottom: 44px;
}

.menu {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  line-height: 208%; /* 25/12 */
  color: rgba(73, 80, 87, 0.5);
}

.menu__categories{
  position: relative;
  padding-right: 26px;
  transition: all 0.2s;
}
.menu__categories::after {
  content: '+';
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 10px;
}
.menu__categories:hover{
  transform: scale(1.1);
  color:rgba(73, 80, 87, 1);
}

.column-number {
  transition: all 0.2s;
  display: inline-block;
}
.column-number:not(:last-child){
  margin-right: 20px;
}
.column-number:hover{
  color: rgba(73, 80, 87, 1);
  text-decoration: underline;
  transform: scale(1.1);
}



/* -------------------------------------------- */
.galery__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 60px;
  row-gap: 45px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 33.3333%;
  padding: 0 15px;
  gap: 30px;
  min-height: 100%;
}

.card__image img{
  max-width: 100%;
  transition: all 0.3s;
}
.card__image img:hover{
transform: scale(0.982);
}
.card__image{
  position: relative;
}

.card__link-image{
  position: absolute;
  top: 12%;
  right: 7.5%;
  padding: 3px 12px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.233);
  font-weight: 700;
  font-size: 8px;
  line-height: 250%;
  text-transform: uppercase;
  color: #F8F9FA;
  transition: all 0.3s;
}
.card__link-image:hover{
  transform: scale(1.3);
}

.card__description-text{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
}

.card__date {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 167%;
  color: #495057;
  transition: all 0.3s;
}
.card__date:hover{
  color: black;
  transform: translate(1.5%);
}

.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 160%;
  color: #212529;
  transition: all 0.3s;
}
.title:hover{
  text-decoration: underline;
}

.card__text {
  font-weight: 300;
  font-size: 12px;
  line-height: 167%;
  color: #495057;
  flex-grow: 1;
}

hr{
  width: 100%;
  border: 1px solid #E5E5E5;
}

.card__autor {
  font-weight: 300;
  font-size: 12px;
  line-height: 167%;
  color: #495057;
  transition: all 0.4s;
  position: relative;
}

.card__autor:hover{
  color: black;
  font-weight: 500;
  text-decoration: underline;
}

.galery__button{
  display: flex;
  justify-content: center;
}
.button__link{
  width: 182px;
  font-weight: 500;
  font-size: 12px;
  line-height: 208%;
  color: #F8F9FA;
  text-align: center;
  padding: 8px 50px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.3s;
  border: 1px solid transparent;
}
.button__link:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
  transform: scale(1.05);
}

.page__footer {}